body {
  background-image: url("/images/background.jpg");
  background-position-x: center;
  background-position-y: center;
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
  background-attachment: fixed;
  background-origin: initial;
  background-clip: initial;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
div.topwrap {
    text-align: center;
    background-color: rgba(0,0,0,0);
}
div.topmid {
    margin: 0 auto; 
    width: 60%;
}
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* Float the list items side by side */
ul.topnav li {float: left;}

/* Style the links inside the list items */
ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
    text-shadow: -2px 0 black, 0 1px black, 1px 0 black, 0 -2px black;
}

ul.topnav li a:hover {background-color: rgb(150,150,150);}

ul.topnav li.active {background-color: rgb(50,50,50);}

/* Hide the list item that contains the link that should open and close the topnav on small screens */
ul.topnav li.icon {display: none;}

/*This part is the hide list section*/
/* When the screen is less than 680 pixels wide, hide all list items, except for the first one ("Home"). Show the list item that contains the link to open and close the topnav (li.icon) */
@media screen and (max-width:680px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens */
@media screen and (max-width:680px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}

#title {
  text-align: center;
  margin: auto;
  height: 100px;
  color: #f2f2f2;
  text-shadow: -2px 0 black, 0 1px black, 1px 0 black, 0 -2px black;
}

div.intro{
  margin-top: 50px;
  text-align: center;
  color: #f2f2f2;
}


h2.intro-body{
  width: 60%;
  text-shadow: -2px 0 black, 0 1px black, 1px 0 black, 0 -2px black;
}

div.intro h2 {
  display: inline-block;
}

#contentwrapper {
  width:80%;
  margin:auto;
  background-color:rgba(200,200,200,0.6);
}

div.codebox {
  width:25%;
  margin-left: 5%;
  margin-top: 2%;
  margin-bottom: 2%;
  display: inline-block;
}

div.codebox-wrap {
  position: relative;
}

#codeimage {
    display: block;
    margin: auto;
    width: 50%;
    height: auto;
}
div.code-description {
visibility: hidden;
  position: absolute;
  left: 25%;
  top: 10%;
  right: 25%;
  bottom:10%;
  background-color: rgba(0,0,0,0.6);
  color: #f2f2f2;
  overflow: auto;
  padding: 2%;
}
h2 {
  margin-left: 2%;
  margin-top: 2%;
}

audio {
  margin-left: 2%;
}

h3 {
  margin-left: 2%;
  margin-top: 2%;
}

#easteregg {
  visibility: hidden;
}

#center {
  text-align: center;
}

#profile {
  height: 40%;
  width: 40%;
}